.component_container {
    opacity: 0;
}

@media (max-width: 873px) {
    .component_container {
        opacity: 1;
        display: flex;
        flex-direction: column;

        .img_container {
            width: 100%;
            height: 60vh;

            img {
                position: relative !important;
                width: 100% !important;
                height: 100% !important;
            }
        }

        .information_container {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;

            h1 {
                font-size: 4em;
                width: 100%;
                text-align: center;
                margin-top: 5%;
                color: var(--primaryColor);
            }
            >span {
                text-align: justify;
                color: grey;
                padding: 1em;
            }

            >div {
                margin-top: 2em;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 1em;
                padding: 0 1em 8em 1em;

                .chip {
                    color: white;
                    border-radius: 20px;
                    background-color: rgb(67, 195, 255);
                    padding: 0.5em 1em;
                }
            }

        }
    }
}