.label_and_value_container {
  color: var(--thirdColor);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  span:first-child {
    font-size: 0.7em;
    color: grey;
  }
  span:last-child {
    border-bottom: 2px solid var(--thirdColor);
    width: 100%;
  }
  a, a:visited {
    color: var(--primaryColor);
    text-decoration: none;
    border-bottom: 2px solid var(--thirdColor);
    width: 100%;
  }
}