.component_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    gap: 3em;
    position: relative;
    overflow: hidden;
    padding: 2em 2em 0 2.5em;
    img:first-child {
        position: absolute;
        right: -3%;
        top: -7%;
        opacity: 0.6;
    }
    >img:nth-child(2) {
        position: relative !important;
        width: 80% !important;
        height: 90% !important;
    }
    span:last-child {
        margin-top: 2em;
    }
    h1 {
        font-size: 4em;
        width: 100%;
        text-align: center;
        margin-top: 5%;
    }
    >div {
        height: calc(100% - 5em);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    >div>p {
        text-align: justify;
        color: grey;
    }
    .chip {
        color: white;
        border-radius: 20px;
        background-color: rgb(67, 195, 255);
        padding: 0.5em 1em;
        margin-right: 2em;
    }
}