.component_container {
    opacity: 0;
}

@media (max-width: 873px) {

    .destiny_link {
        margin-bottom: 5.3em;
    }

    .experiencia_container {
        width: 100vw;
        overflow-x: hidden;
        box-sizing: border-box;
        border-top: 17px solid rgba(128, 128, 128, 0.322);

        h2 {
            padding-left: 0.5em;
        }

        .introduccion {
            padding: 0 1em;
            box-sizing: border-box;
            color: grey;
        }

        .slider_container {
            margin-top: 2em;
            width: 100vw;
            overflow-x: scroll;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            .slider_card_container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                min-width: 100%;

                .slider_card {
                    max-width: 92vw;
                    min-width: 92vw;
                    padding: 0.5em 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 1em;

                    >span:last-child {
                        border-radius: 10px;
                        padding: 0.25em 0.5em;
                        font-weight: 500;
                        color: var(--secondaryColor);
                        background-color: var(--primaryColor);
                    }

                }

                span {
                    font-weight: 600;
                    color: var(--thirdColor);
                    margin-bottom: 0.5em;
                    white-space: wrap;
                    text-align: center;
                }

            }

            .slider_card_container:nth-child(1)>.slider_card {
                border-left: none;
                border-right: 2px solid rgba(128, 128, 128, 0.322);
            }

            .slider_card_container:nth-child(2)>.slider_card {
                border-left: 2px solid rgba(128, 128, 128, 0.322);
                border-right: 2px solid rgba(128, 128, 128, 0.322);
            }

            .slider_card_container:nth-child(3)>.slider_card {
                border-left: 2px solid rgba(128, 128, 128, 0.322);
                border-right: none;
            }
        }
    }

    .points_slider_container {
        margin-top: 1em;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2em;

        svg {
            color: var(--primaryColor);
            width: 1em;
            height: 1em;
        }
    }
}



@keyframes showExperience {
    0% {
        bottom: -200vh;
    }

    100% {
        bottom: 0;
    }
}