.component_container {
    opacity: 0;
}

@media (max-width: 873px) {

    .popup_verMas_container {
        position: fixed;
        z-index: 12;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(255, 255, 255, 0.829);
    }

    .popup_verMas {
        z-index: 13;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        background-color: var(--secondaryColor);
        width: 100vw;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: rgb(191, 218, 230);
        color: var(--thirdColor);
        padding: 1em 1em 0em 1em;
        animation-duration: 0.4s;
        animation-name: showExperience;

        img {
            margin: 1em 0;
        }

        a,
        a:visited {
            color: rgb(10, 143, 204);
            font-weight: 500;
            text-decoration: none;
        }

        h3 {
            margin: 0;
            font-size: 1.5em;
            width: 90%;
            text-align: center;
        }

        span {
            margin-top: 0.5em;
            text-align: justify;
            font-size: 80%;
            color: var(--thirdColor) !important;
        }
        >ul {
            padding-left: 1.5em;
            font-size: 80%;
        }
        svg {
            position: relative;
            width: 2.5em;
            height: 2.5em;
            animation-duration: 2s;
            animation-name: upDown;
            animation-iteration-count: infinite;
        }
    }
}



@keyframes upDown {
    0% {
        top: -3px;
    }

    50% {
        top: 3px;
    }

    100% {
        top: -3px;
    }
}

@keyframes showExperience {
    0% {
        bottom: -100vh;
    }

    100% {
        bottom: 0;
    }
}